$halfwhite: rgba(255, 255, 255, 0.5);

$white10:linear-gradient(113.49deg,  #0c010f -30.3%,#116466  58.12%);

$white: rgb(190, 157, 157);
$purple:linear-gradient(113.49deg,  #0c010f -30.3%,#093535  58.12%);
$lightpurple:#c0e3d3;
$darkblue: linear-gradient(113.49deg,  #0c010f -30.3%,#116466  58.12%);

.bg-image {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// background
.bg-white10 {
    background: $white10;
}

.bg-purple {
    background: $purple;
}

.bg-darkblue {
    background: $darkblue;
}

.bg-halfwhite {
    background: $halfwhite;
}

// color
.halfwhite {
    color: $halfwhite;
}

.lightpurple {
    color: $lightpurple;
}

.darkblue {
    color: $darkblue;
}

.white {
    color: white;
}



@media screen and(max-width:1024px) {}

@media screen and(max-width:414px) {}